<!doctype html>
<html>

<head>
  <title>FEH Tier List Creator</title>
  <meta name"description" content="Create your own FEH Tier List."/>
  <script src="https://unpkg.com/vue"></script>
  <link rel="icon" type="image/png" href="images/s_tier.png" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css"/>
  <script
                         src="https://code.jquery.com/jquery-3.1.1.min.js"
                         integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
                         crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
  <style type="text/css">
    .tier_selector * {
      padding: 5px;
    }
  </style>
</head>

<body>
  <div id="app" class="ui stackable grid" style="padding: 1em;">
    <!-- Start of sidebar -->
    <div id="hero-scroller" class="four wide computer fourteen wide tablet column centered" v-show="!expanded">
      <div id="hero-panel" class="ui center aligned header">
        <div class="ui header">FEH Tier List Generator</div>
        <div>
          <img :src="'images/' + hero.name + '.png'"></img>
        </div>
        <div>
          <div class="ui one header">{{ hero.name }}</div>
          <div class="ui five mini statistics">
            <div class="grey statistic">
              <div class="value">
                {{ hero.maxhp || hero.basehp + growthvalues[hero.hpgrowth]}}
              </div>
              <div class="label">
                HP
              </div>
            </div>
            <div class="red statistic">
              <div class="value">
                {{ hero.maxatk || hero.baseatk + growthvalues[hero.atkgrowth] }}
              </div>
              <div class="label">
                Atk
              </div>
            </div>
            <div class="green statistic">
              <div class="value">
                {{ hero.maxspd || hero.basespd + growthvalues[hero.spdgrowth]}}
              </div>
              <div class="label">
                Spd
              </div>
            </div>
            <div class="orange statistic">
              <div class="value">
                {{ hero.maxdef || hero.basedef + growthvalues[hero.defgrowth]}}
              </div>
              <div class="label">
                Def
              </div>
            </div>
            <div class="blue statistic">
              <div class="value">
                {{ hero.maxres || hero.baseres + growthvalues[hero.resgrowth]}}
              </div>
              <div class="label">
                Res
              </div>
            </div>
          </div>
          <div class="ui divider"></div>
          <div class = "tier_selector">
            <p>Current rank: {{ ranking }}</p>
            <div class="ui selection list">
              <button class="ui button"
                      v-for="rank in rankings.slice(1,rankings.length)"
                      v-on:click="addRank(hero.name, rankings.indexOf(rank))"
                      style="margin: 2px">
                {{ rank }}</button>
            </div>
            <!-- Start of Add New Tier-->
            <button class="ui button" v-on:click="editTiers=!editTiers">Customize Tiers</button>
            <div v-if="editTiers">
              <div class="ui hidden divider"></div>
              <div class="ui action input" style="width: 100%">
                <input type="text" placeholder="eg. EX" v-model="tierToAdd">
                <select class="ui compact selection dropdown" v-model="parentTier">
                  <option v-for="rank in rankings">{{ rank }}</option>
                </select>
                
              </div>
              <button class="ui button" v-on:click="addTier(tierToAdd, parentTier)">Add New Tier Above {{ parentTier }}</button>

              <div class="ui hidden divider"></div>
              <!-- End of Add New Tier -->

              <!-- Start of Delete Tier -->
              <div class="ui" style="width: 100%">
              <select class="ui fluid dropdown" v-model="tierToDelete">
                <option v-for="rank in rankings.slice(1,rankings.length)">{{ rank }}</option>
              </select>
              </div>
              <button class="ui button" v-on:click="deleteTier(tierToDelete)">Delete Tier {{ tierToDelete }}</button>
              <button class="ui button" v-on:click="deleteAllTiers()">Delete All Tiers</button>
              <!-- End of Delete Tier -->
            </div>
          </div>
        </div>
      </div>
      <!-- Start of hero info -->

      <div class="ui divider"></div>

      <!-- Start of hero listing -->
      <div class="ui form">
        <!-- Filters -->
        <div class="one field">
          <div class="field">
            <label>Search (Beta)</label>
            <input type="text" v-model="searchFilter" v-on:input="resetIndex">
            </input>
          </div>

        </div>
        <div class="three fields">
          <div class="field">
            <label>Color</label>
            <select v-model="selectedColor">
              <option selected value="">All</option>
              <option>Red</option>
              <option>Blue</option>
              <option>Green</option>
              <option>Gray</option>
            </select>
          </div>
          <div class="field">
            <label>Weapon</label>
            <select v-model="selectedWeapon">
              <option selected value="">All</option>
              <option>Sword</option>
              <option>Lance</option>
              <option>Axe</option>
              <option>Red Tome</option>
              <option>Blue Tome</option>
              <option>Green Tome</option>
              <option>Bow</option>
              <option>Dagger</option>
              <option>Staff</option>
              <option>Breath</option>
            </select>
          </div>
          <div class="field">
            <label>Movement</label>
            <select v-model="selectedMovement">
              <option selected value="">All</option>
              <option>Infantry</option>
              <option>Cavalry</option>
              <option>Flying</option>
              <option>Armor</option>
            </select>
          </div>
        </div>
      </div>
      <!-- Hero List -->
      <div style="height: 300px;" v-show="!importing && !exporting">
        <div class="ui selection list" style="height: 100%; overflow-y: scroll;">
          <div :name="unit.name" class="item" v-for="unit in hero_list" v-on:click.stop="selectHero(unit.name)">
            <img class="ui avatar image" :src="'images/' + unit.name + '.png'">
            <div class="content">
              <div class="header">{{ unit.name }}</div>
            </div>
          </div>
        </div>
      </div>
      <!-- Export Field -->
      <div style="height: 300px;" v-show="exporting">
        <div class="ui form">
          <div class="field">
            <label>Copy text from here</label>
            <textarea readonly rows="14"> {{ rankToText }}</textarea>
          </div>
        </div>
      </div>
      <!-- Import Field -->
      <div style="height: 300px;" v-show="importing">
        <div class="ui form">
          <div class="field">
            <label>Paste text here</label>
            <textarea rows="14" @input="textToRank($event.target.value)"></textarea>
          </div>
        </div>
      </div>

      <div>
        <label>Progress: {{ rankCount }}/{{ all_heroes.length }}</label>
      </div>
      <!-- End of hero listing -->

      <div class="ui divider"></div>

      <!-- Start of action buttons -->
      <div class="ui four buttons">
        <button class="ui button" v-on:click="randomize()">
          <i class="icon random"></i>
          Randomize
        </button>
        <button class="ui button" v-on:click="reset()">
          <i class="icon erase"></i>
          Reset
        </button>
        <button class="ui button" v-if="!importing" v-on:click="importing = !importing; exporting = false">
          <i class="icon paste"></i>
          Import
        </button>
        <button class="ui button" v-else v-on:click="importing = false; exporting = false">
          <i class="icon list"></i>
          List
        </button>
        <button class="ui button" v-if="!exporting" v-on:click="exporting = !exporting; importing = false">
          <i class="icon copy"></i>
          Export
        </button>
        <button class="ui button" v-else v-on:click="importing = false; exporting = false">
          <i class="icon list"></i>
          List
        </button>
      </div>
      <!-- End of action buttons -->

    </div>
    <!-- End of side bar -->

    <!-- Start of Table -->
    <div id="grid" class="column centered" :class="!expanded ? 'twelve wide computer fourteen wide tablet' : 'sixteen wide computer sixteen wide tablet'">
      <table class="ui celled table center aligned" style="min-height: 900px;">
        <thead>
          <th :style="evenwidth ? 'width: calc(100% / 13)' : ''">
            <div class="ui small basic icon buttons">
              <button class="ui button" data-tooltip="Toggle fullscreen mode" data-position="bottom center" v-on:click="expanded = !expanded"><i :class="!expanded ? 'expand icon' : 'compress icon'"></i></button>
              <button class="ui button" data-tooltip="Toggle column width" data-position="bottom center" v-on:click="evenwidth = !evenwidth"><i :class="!evenwidth ? 'resize horizontal icon' : 'resize vertical icon'"></i></button>
            </div>
          </th>
          <th :style="evenwidth ? 'width: calc(100% / 13)' : ''" v-for="weapon in weapontypes">
            <img style="width: 32px; height: 32px" :src="'weapontypes/' + weapon + '.png'"></img>
          </th>
        </thead>
        <tbody>
          <tr v-for="rank in rankings.slice(1,rankings.length).reverse()">
            <td>{{rank}}</td>
            <td v-for="weapon in weapontypes" :id="rank + '-' + weapon" style="padding: 0">
                  <a href="#!" v-on:click="selectHero(unit.name)" v-for="unit in getRankedHeroes(weapon, rank)">
                    <img :name="unit.name" style="width: 36px; height: 36px" :src="'images/' + unit.name + '.png'"></img>
                  </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- End of Table -->

</body>

<script src="hero_data.js"></script>
<script>
heroes.forEach(function(hero) {
  hero.rating = 0
  hero.weapontype = (hero.weapontype === 'dragon') ? hero.color+"breath" : hero.weapontype
})
heroes = heroes.filter(hero=> !hero.name.includes('generic'))

new Vue({
  el: '#app',
  data: {
    all_heroes: heroes,
    hero_index: Math.floor(Math.random()*heroes.length),
    originalRankings: ['Unranked', 'C', 'B', 'A', 'A+', 'S-', 'S', 'S+'],
    rankings: ['Unranked', 'C', 'B', 'A', 'A+', 'S-', 'S', 'S+'],
    weapontypes: ['sword', 'redtome', 'redbreath', 'lance', 'bluetome', 'bluebreath', 'axe', 'greentome', 'greenbreath', 'bow', 'dagger', 'staff', 'graybreath'],
    growthvalues: [8,10,13,15,17,19,22,24,26,28,30,33,35,37],
    selectedColor: "",
    searchFilter: "",
    selectedWeapon: "",
    selectedMovement: "",
    parentTier: "S+",
    tierToDelete: "",
    tierToAdd: "",
    importing: false,
    exporting: false,
    expanded: false,
    evenwidth: false,
    editTiers: false,
  },
  computed: {
    hero: function () {
      return this.all_heroes[this.hero_index]
    },
    ranking: function () {
      return this.rankings[this.hero.rating]
    },
    rankCount: function () {
      return this.all_heroes.map(hero=>hero.rating).filter(rating => rating > 0).length
    },
    hero_list: function() {
      return this.all_heroes
        .filter(hero => hero.name.toLowerCase().includes(this.searchFilter.toLowerCase()))
        .filter(hero => hero.color.includes(this.selectedColor.toLowerCase()))
        .filter(hero => hero.weapontype.includes(this.selectedWeapon.replace(/\s+/g, '').toLowerCase()))
        .filter(hero => hero.movetype.includes(this.selectedMovement.toLowerCase()))
        .filter(hero => hero.rating == 0)
    },
    rankToText: function () {
      ratings = [{rankings: this.rankings}];
      ratings = ratings.concat(this.all_heroes.map(hero => ({name: hero.name, rating: hero.rating})));
      return JSON.stringify(ratings);
    },
  },
  methods: {
    resetIndex: function() {
        this.incrementIndex()
        this.decrementIndex()
    },
    incrementIndex: function(event) {
      if(this.hero_list.length == 0) return
      curHeroName = this.all_heroes[this.hero_index].name
      nextHeroListIndex = this.hero_list.map(hero => hero.name).indexOf(curHeroName)+1
      if (nextHeroListIndex >= this.hero_list.length) { nextHeroListIndex = 0 }
      nextHeroName = this.hero_list[nextHeroListIndex].name
      this.hero_index = this.all_heroes.map(hero => hero.name).indexOf(nextHeroName)
    },
    decrementIndex: function(event) {
      if(this.hero_list.length == 0) return
      curHeroName = this.all_heroes[this.hero_index].name
      nextHeroListIndex = this.hero_list.map(hero => hero.name).indexOf(curHeroName)-1
      if (nextHeroListIndex < 0) { nextHeroListIndex = this.hero_list.length - 1 }
      nextHeroName = this.hero_list[nextHeroListIndex].name
      this.hero_index = this.all_heroes.map(hero => hero.name).indexOf(nextHeroName)
    },
    addRank: function(name, rating) {
      this.incrementIndex()
      this.all_heroes.find(hero=>hero.name === name).rating = rating
    },
    getRankedHeroes: function(weapontype, rank) {
      return this.all_heroes.filter(hero=> hero.weapontype == weapontype && hero.rating == this.rankings.indexOf(rank))
    },
    randomize: function() {
      length = this.rankings.length - 1
      this.all_heroes.forEach(function(hero) {
        hero.rating = Math.floor(Math.random()*length)+1
      })
    },
    reset: function (){
      this.all_heroes.forEach(function(hero) {
        hero.rating = 0
      })
    },
    selectHero: function(name) {
      this.hero_index = this.all_heroes.map(hero=>hero.name).indexOf(name)
    },
    textToRank: function (text) {
      try {
        var ratings = JSON.parse(text);
        var importedRanking = ratings[0].rankings;

        if (importedRanking !== undefined) {
          var rankingChanged = this._isRankingAltered(importedRanking);
          if (rankingChanged) {
            this.rankings = importedRanking;
          }
          ratings = ratings.slice(1);
        } else {
          this._resetRanking();
        }
        
        ratings.forEach(rate => { this.all_heroes.find(hero=> hero.name == rate.name).rating = rate.rating })
      }
      catch (err) {

      }
    },
    addTier: function (tierToAdd, parentTier) {
      if (this.rankings.indexOf(tierToAdd) !== -1) return;
      if (tierToAdd === "") return;

      var parentIndex = this.rankings.indexOf(parentTier);
      this.rankings.splice(parentIndex + 1, 0, tierToAdd);
      // make sure that heroes tiers are keep the same as before with the new tier added in
      this.all_heroes.filter(hero=> hero.rating > parentIndex).forEach(hero => hero.rating++);
    },
    deleteTier: function (tierToDelete) {
      var tierIndex = this.rankings.indexOf(tierToDelete);

      if (tierIndex !== -1) {
        // reset all heroes in this tier back to unranked
        this.all_heroes.filter(hero => hero.rating === tierIndex).forEach(hero => hero.rating = 0);
        this.all_heroes.filter(hero => hero.rating > tierIndex).forEach(hero => hero.rating--);
        this.rankings.splice(tierIndex, 1);
      }
    },
    deleteAllTiers: function () {
      this.reset();
      this.rankings = ['Unranked'];
    },
    _isRankingAltered: function (newRanking) {
      var rankingChanged = false;
      if (newRanking.length !== this.originalRankings.length) {
        rankingChanged = true;
      } else {
        for (var i = 0; i < this.originalRankings.length; i++) {
          if (newRanking[i] !== this.originalRankings[i]) {
            rankingChanged = false;
            break;
          }
        }
      }
      return rankingChanged;
    },
    _resetRanking: function () {
      this.rankings = this.originalRankings;
    }
  }
})
</script>
</html>
