<!doctype html>
<html>

  <head>
    <title>FEH Tier List Creator</title>
    <meta name"description" content="Create your own FEH Tier List."/>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css"/>
    <script
                           src="https://code.jquery.com/jquery-3.1.1.min.js"
                           integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
                           crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
  </head>
  <body>
    <div>
      <div id="app" class="ui stackable grid" style="padding: 1em;">
        <div id="hero-scroller" class="three wide computer fourteen wide tablet column centered">
          <div id="hero-panel" class="ui center aligned header">
            <div class="ui header">FEH Tier List Generator</div>
            <div>
              <img :src="'images/' + hero.name + '.png'"></img>
            </div>
            <div>
              <div class="ui one header">{{ hero.name }}</div>
              <div class="ui five mini statistics">
                <div class="grey statistic">
                  <div class="value">
                    {{ hero.maxhp || hero.basehp + growthvalues[hero.hpgrowth]}}
                  </div>
                  <div class="label">
                    HP
                  </div>
                </div>
                <div class="red statistic">
                  <div class="value">
                    {{ hero.maxatk || hero.baseatk + growthvalues[hero.atkgrowth] }}
                  </div>
                  <div class="label">
                    Atk
                  </div>
                </div>
                <div class="green statistic">
                  <div class="value">
                    {{ hero.maxspd || hero.basespd + growthvalues[hero.spdgrowth]}}
                  </div>
                  <div class="label">
                    Spd
                  </div>
                </div>
                <div class="orange statistic">
                  <div class="value">
                    {{ hero.maxdef || hero.basedef + growthvalues[hero.defgrowth]}}
                  </div>
                  <div class="label">
                    Def
                  </div>
                </div>
                <div class="blue statistic">
                  <div class="value">
                    {{ hero.maxres || hero.baseres + growthvalues[hero.resgrowth]}}
                  </div>
                  <div class="label">
                    Res
                  </div>
                </div>
              </div>
              <div class="ui divider"></div>
              <div>
                <p>Current rank: {{ ranking }}</p>
                <div class="seven ui buttons">
                  <button class="ui button" v-on:click="addRank(hero.name, 1)">F</button>
                  <button class="ui button" v-on:click="addRank(hero.name, 2)">D</button>
                  <button class="ui button" v-on:click="addRank(hero.name, 3)">C</button>
                  <button class="ui button" v-on:click="addRank(hero.name, 4)">B</button>
                  <button class="ui button" v-on:click="addRank(hero.name, 5)">A</button>
                  <button class="ui button" v-on:click="addRank(hero.name, 6)">S</button>
                  <button class="ui button" v-on:click="addRank(hero.name, 7)">SS</button>
                </div>
              </div>
            </div>
          </div>
          <div class="ui divider"></div>

          <div class="ui form">
            <div class="three fields">
              <div class="field">
                <label>Color</label>
                <select v-model="selectedColor">
                  <option selected value="">All</option>
                  <option>Red</option>
                  <option>Blue</option>
                  <option>Green</option>
                  <option>Gray</option>
                </select>
              </div>
              <div class="field">
                <label>Weapon</label>
                <select v-model="selectedWeapon">
                  <option selected value="">All</option>
                  <option>Sword</option>
                  <option>Lance</option>
                  <option>Axe</option>
                  <option>Red Tome</option>
                  <option>Blue Tome</option>
                  <option>Green Tome</option>
                  <option>Bow</option>
                  <option>Dagger</option>
                  <option>Staff</option>
                  <option>Breath</option>
                </select>
              </div>
              <div class="field">
                <label>Movement</label>
                <select v-model="selectedMovement">
                  <option selected value="">All</option>
                  <option>Infantry</option>
                  <option>Cavalry</option>
                  <option>Flying</option>
                  <option>Armor</option>
                </select>
              </div>
            </div>
          </div>
          <div style="height: 300px;">
            <div class="ui selection list" style="height: 100%; overflow-y: scroll;">
              <div :name="unit.name" class="item" v-for="unit in hero_list" v-on:click.stop="selectHero(unit.name)">
                <div class="right floated content" v-if="unit.rating > 0">
                  <i class="checkmark icon"></i>
                </div>
                <img class="ui avatar image" :src="'images/' + unit.name + '.png'">
                <div class="content">
                  <div class="header">{{ unit.name }}</div>

                </div>
              </div>
            </div>
          </div>
          <div>
            <label>Progress: {{ rankCount }}/{{ all_heroes.length }}</label>
          </div>
          <button class="ui basic button" v-on:click="randomize()">
            <i class="icon random"></i>
            Randomize
          </button>
          <button class="ui basic button" v-on:click="reset()">
            <i class="icon erase"></i>
            Reset
          </button>
        </div>
        <div id="grid" class="thirteen wide computer fourteen wide tablet column">
          <table class="ui celled table center aligned" style="min-height: 900px;">
            <thead>
              <th>Rating</th>
              <th v-for="weapon in weapontypes"><img style="width: 32px; height: 32px" :src="'weapontypes/' + weapon + '.png'"></img></th>
            </thead>
            <tbody>
              <tr v-for="rank in rankings.slice(1,rankings.length).reverse()">
                <td>{{rank}}</td>
                <td v-for="weapon in weapontypes" :id="rank + '-' + weapon" style="padding: 0">
                  <div>
                  <div >
                    <a href="#!" v-on:click="selectHero(unit.name)"
                      v-for="unit in getRankedHeroes(weapon, rank)"
>
                      <img :name="unit.name" style="width: 36px; height: 36px"
                                             :src="'images/' + unit.name + '.png'">
                      </img>
                    </a>
                  </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </body>

  <script src="hero_data.js"></script>
  <script>
heroes.forEach(function(hero) {
  hero.rating = 0
    hero.weapontype = (hero.weapontype === 'dragon') ? hero.color+"breath" : hero.weapontype
})
heroes = heroes.filter(hero=> !hero.name.includes('generic'))

new Vue({
  el: '#app',
  data: {
    all_heroes: heroes,
    hero_index: Math.floor(Math.random()*heroes.length),
    rankings: ['Unranked','F', 'D', 'C', 'B', 'A', 'S', 'SS'],
    weapontypes: ['sword', 'redtome', 'redbreath', 'lance', 'bluetome', 'bluebreath', 'axe', 'greentome', 'greenbreath', 'bow', 'dagger', 'staff'],
    growthvalues: [8,10,13,15,17,19,22,24,26,28,30,33,35,37],
    selectedColor: "",
    selectedWeapon: "",
    selectedMovement: "",
  },
  computed: {
    hero: function () {
      return this.all_heroes[this.hero_index]
    },
    ranking: function () {
      return this.rankings[this.hero.rating]
    },
    rankCount: function () {
      return this.all_heroes.map(hero=>hero.rating).filter(rating => rating > 0).length
    },
    hero_list: function() {
      return this.all_heroes
        .filter(hero => hero.color.includes(this.selectedColor.toLowerCase()))
        .filter(hero => hero.weapontype.includes(this.selectedWeapon.replace(/\s+/g, '').toLowerCase()))
        .filter(hero => hero.color.includes(this.selectedColor.toLowerCase()))
        .filter(hero => hero.rating == 0)
    },
  },
  methods: {
    incrementIndex: function(event) {
      if(this.hero_list.length == 0) return
      curHeroName = this.all_heroes[this.hero_index].name
      nextHeroListIndex = this.hero_list.map(hero => hero.name).indexOf(curHeroName)+1
      if (nextHeroListIndex >= this.hero_list.length) { nextHeroListIndex = 0 }
      nextHeroName = this.hero_list[nextHeroListIndex].name
      console.log(nextHeroName)
      this.hero_index = this.all_heroes.map(hero => hero.name).indexOf(nextHeroName)
    },
    decrementIndex: function(event) {
      if(this.hero_list.length == 0) return
      curHeroName = this.all_heroes[this.hero_index].name
      nextHeroListIndex = this.hero_list.map(hero => hero.name).indexOf(curHeroName)-1
      if (nextHeroListIndex < 0) { nextHeroListIndex = this.hero_list.length - 1 }
      nextHeroName = this.hero_list[nextHeroListIndex].name
      this.hero_index = this.all_heroes.map(hero => hero.name).indexOf(nextHeroName)
    },
    addRank: function(name, rating) {
      this.incrementIndex()
      this.all_heroes.find(hero=>hero.name === name).rating = rating
    },
    getRankedHeroes: function(weapontype, rank) {
      return this.all_heroes.filter(hero=> hero.weapontype == weapontype && hero.rating == this.rankings.indexOf(rank))
    },
    randomize: function() {
      this.all_heroes.forEach(function(hero) {
      hero.rating = Math.floor(Math.random()*7)+1
      })
    },
    reset: function (){
      this.all_heroes.forEach(function(hero) {
      hero.rating = 0
      })
    },
    selectHero: function(name) {
        this.hero_index = this.all_heroes.map(hero=>hero.name).indexOf(name)
    }
  }
})
  </script>

</html>
